*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header{
	background-color: rgba(0, 32, 244, 1);
	height: 387.56px;
}
.logo{
	width: 115px;
	height: 65px;
	margin-top: 40px;
	margin-left: 240px;
}
a{
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	text-decoration: none;

}
.contact{
	color: rgba(23, 23, 23, 1);
	background-color: white;
	border-radius: 28px;
}
.items{
	margin-top: -250px;
	margin-left: 240px;  
}
ul{
	list-style: none;
}
li{
	margin: 18px
}
.building{
	width: 1195px;
	height: 600px;
	border-radius: 15px;
	margin-left: 362px;
	position: relative;
	bottom: 172px;
}
.paragraph{
	text-align: left;
	font-size: 28px;
	color: rgba(23, 23, 23, 1);
    margin-top: -155px;
    margin-left: 362px;
}
.pictures{
	letter-spacing: 25px;
    border-radius: 15px;
    margin-top: 60px;	
}
section p{
	text-align: center;
	line-height: 26px;
	font-size: 16px;
	margin-top: 60px;
	margin-bottom: 18px;
}

.last{
	color: #FFFFFF;
	background-color: #0A22F4;
	border-radius: 28px;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 58px;
}
